.regularBeige {
  background-color: var(--beige);
  border-color: var(--beige);
  color: var(--white);
}
.regularBeige:hover {
  background-color: var(--white);
  border-color: var(--beige);
  color: var(--beige);
}
.submit {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--white);
}
.submit:hover {
  background-color: var(--white);
  border-color: var(--blue);
  color: var(--blue);
}

.cancel {
  background-color: var(--gray);
  border-color: var(--gray);
  color: var(--white);
}
.cancel:hover {
  background-color: var(--white);
  border-color: var(--gray);
  color: var(--gray);
}
