.infoP,
.infoContainer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.infoContainer {
  color: black;
  background-color: var(--lightBlue);
  box-shadow: var(--grey) 5px 5px 25px 1px;
}
.infoTags {
  height: 6em;
}
