@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* font-family: 'Courgette', cursive; */

:root {
  --blue: #116466;
  --white: #ffffff;
  --gray: #2c3531;
  --beige: #d9b08c;
  --lightBeige: #ffcb9a;
  --lightBlue: #d1e8e6;
}


* {
  scroll-behavior: smooth;
}