
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --blue: #116466;
  --white: #ffffff;
  --gray: #2c3531;
  --beige: #d9b08c;
  --lightBeige: #ffcb9a;
  --lightBlue: #d1e8e6;
}


/* button {
  border: 2px solid ;
  border-radius: 4px; 
  background-color: var(--beige) ;
  border-color: var(--beige);
  color: var(--white);
  
}
button:hover {
  background-color: var(--white);
  border-color: var(--beige);
  color: var(--beige);
}

h1,h2,h3,h4,h5,h6{
  color:var(--blue) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  margin: auto 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

.card {
  border: none;
  box-shadow: 2px 2px 5px var(--lightBlue), -2px -2px 5px var(--lightBlue);
}
button:focus {
  box-shadow: none;
}
