@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
:root {
  --blue: #116466;
  --white: #ffffff;
  --gray: #2c3531;
  --beige: #d9b08c;
  --lightBeige: #ffcb9a;
  --lightBlue: #d1e8e6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  margin: auto 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

.card {
  border: none;
  box-shadow: 2px 2px 5px var(--lightBlue), -2px -2px 5px var(--lightBlue);
}
button:focus {
  box-shadow: none;
}
